################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

**/.vs
/HelloBlazor/HelloBlazor/bin/Debug/net6.0
/HelloBlazor/HelloBlazor/obj
